body{
  background-color: #FBE8A6;
}
h1{
  text-align: center;
}

.m {
  height: 50px;
  width: 50px;
}
nav ul{
  display: flex;
  padding-left: 0;


}
nav ul a{
  color:#F4976C;
  list-style-type: none;
  padding:7px 10px;
  border: 4px solid black;
  border-left: none;
  display: inline-block;
  width: 100%;
  justify-content: center;
  text-align: center;
  background-color: #D2FDFF;
}
nav ul a:first-child {
  border-left: 4px solid black;
}
nav ul a:hover{
  color: #303C6C;
  background-color: #F4976C;
}
div{
  /*border: 5px solid green;*/
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}
div img{
  width: 100px;
  height: 100px;
}
article{
  width: 50%;

}
section{
/*  border: 5px solid pink;*/
  width: 50%;
}
footer{
  text-align: center;
}
p{
  padding-right: 100px;
}
.zuv{
padding-top: 50px;
}
.p2 {
  padding-top: 50px;
}
/*
#FBE8A6 - désert
#F4976C - mesa
#303C6C - bleu immonde
#BADFE5 - bleu clair
#D2FDFF - bleu clair + clair

*/
img:hover {
  transition :all 100s ;
  transform: rotate(36000deg);
}
